h1, h2, h3, h4, h5, h6 {
	font-family: 'Avenir Next', 'Avenir', 'Lato', 'Helvetica', 'Arial', 'Sans-Serif';
	font-weight: 600;
}

h1 {
	font-size: 24px;
	line-height: 28px;
	color: #1D1F20;
	text-align: center;
}

h2 {
	font-size: 20px;
	line-height: 24px;
	color: #1D1F20;
	text-align: center;
}

h3 {
	font-size: 16px;
	line-height: 20px;
	color: #1D1F20;
}

h4 {
	font-size: 14px;
	color: #1D1F20;
	line-height: 18px;
}

p {
	font-family: 'Avenir Next', 'Avenir', 'Lato', 'Helvetica', 'Arial', 'Sans-Serif';
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #1D1F20;
}

.fmz-white-font {
	color: #ffffff;
}

.header-banner {
	background-color: #00b2ff;
	padding: 20px;
}

.financial-inputs {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-label {
	margin-bottom: 4px;
	margin-top: 12px;
}
